{% extends "base.html" %}
{% load static %}
{% block css_files %}
    <link rel="stylesheet" href="{% static 'drone_order/order.css' %}">
{% endblock %}

{% block page_title %}
    RENT-A-DRONE
{% endblock %}
{% block page_content %}
<div class="container"> 
    <header>
        <h1> RENT-A-DRONE</h1>
        <h2><i>Lets fly</i></h2>
    </header>
    <nav></nav>
    <main>
        <section>

        </section>
        <section>

        </section>
    </main>
    <footer>

    </footer>
    
</div>


{% endblock %}